.banner .row .col:nth-child(1) {
    flex: 2 0 500px;
}

.section .wrapper.box-wrapper .item {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 2px solid var(--yellow);
    padding: 30px;
    border-radius: 3px;
    box-shadow: var(--box-shadow-yellow);
}

.section .wrapper.box-wrapper .item h3 {
    font-size: 20px;
}

.section .wrapper.box-wrapper .item a {
    color: var(--yellow);
}

.section .wrapper.box-wrapper .item hr {
    border-color: var(--yellow);
    width: 30%;
}

.section .wrapper.box-wrapper .item.blue-accent {
    border-color: var(--primary);
    box-shadow: var(--box-shadow-blue);
}

.section .wrapper.box-wrapper .item .item-content {
    display: none;
}