.banner,
.banner .row {
    height: 80vh;
}

.banner .row .col:nth-child(1) {
    flex: 2 0 500px;
}

.banner .btn-wrapper {
    gap: 20px;
}

.section .wrapper.box-wrapper .item {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--yellow);
    padding: 30px;
    border-radius: 3px;
    box-shadow: var(--box-shadow-yellow);
}

.section .wrapper.box-wrapper .item h3 {
    font-size: 20px;
}

.section .wrapper.box-wrapper .item a {
    color: var(--yellow);
}

.section .wrapper.box-wrapper .item hr {
    border-color: var(--yellow);
    width: 30%;
}

.section .wrapper.box-wrapper .item.heading {
    flex: 1 0 30%;
    color: var(--white);
    background-color: var(--primary);
}

.section .wrapper.box-wrapper .item.heading h3 {
    text-align: center;
}

.section .wrapper.box-wrapper .item.blue-accent {
    flex: 1 0 30%;
    border-color: var(--primary);
    box-shadow: var(--box-shadow-blue);
    height: auto;
}

.section .wrapper.box-wrapper .item .item-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    transition: max-height 1s ease, opacity 1s ease;
}

.section .wrapper.box-wrapper .item.expand.active .item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 200px;
    opacity: 1;
}

.section .wrapper.box-wrapper .item.expand.active {
    background-color: var(--yellow);
}

.section .wrapper.box-wrapper .item.expand.active,
.section .wrapper.box-wrapper .item.expand.active a {
    color: var(--white);
}

.logos.section .logos-wrapper .item {
    justify-content: center;
    align-items: center;
}

.logos.section .logos-wrapper .item img {
    max-width: 100px;
    transition: var(--transition);
}

.logos.section .logos-wrapper .item img:hover {
    transform: scale(1.05);
    transition: var(--transition);
}

.reviews.section .reviews-wrapper {
    gap: 40px;
}

.reviews.section .reviews-wrapper .item {
    justify-content: center;
    padding: 30px;
    border-radius: 9px;
    box-shadow: var(--boxShadow);
}

.reviews.section .reviews-wrapper .item.large {
    flex: 2 0;
}

.reviews.section .reviews-wrapper .item .rating {
    color: var(--yellow);
}

.reviews.section .reviews-wrapper .item p {
    font-size: 12px;
}

.why.section .why-wrapper {
    flex-flow: row wrap;
}

.why.section .why-wrapper .wrapper-col {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.why.section .why-wrapper .item-content {
    width: 100%;
}

.why.section .why-wrapper .item-content h3 {
    text-transform: uppercase;
    font-size: 28px;
    color: var(--primary);
}

.why.section .why-wrapper .item-content h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: var(--yellow);
}

.faq .accordion-list .accordion-item .accordion-head.active h5 {
    color: var(--yellow);
}

@media (max-width: 560px) {
    .banner .row .col:nth-child(1),
    .section .wrapper.box-wrapper .item.blue-accent,
    .reviews.section .reviews-wrapper .item {
        flex: 1 0 100%
    }
}