.banner,
.banner .row {
    height: 80vh;
}

.banner .row .col:nth-child(1) {
    flex: 2 0 500px;
}

.section .wrapper.box-wrapper .item {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 2px solid var(--yellow);
    padding: 30px;
    border-radius: 3px;
    box-shadow: var(--box-shadow-yellow);
}

.section .wrapper.box-wrapper .item h3 {
    font-size: 20px;
}

.section .wrapper.box-wrapper .item a {
    color: var(--yellow);
}

.section .wrapper.box-wrapper .item hr {
    border-color: var(--yellow);
    width: 30%;
}

.section .wrapper.box-wrapper .item.blue-accent {
    border-color: var(--primary);
    box-shadow: var(--box-shadow-blue);
    height: fit-content;
}

.section .wrapper.box-wrapper .item .item-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.section .wrapper.box-wrapper .item.expand.active .item-content {
    max-height: 200px;
    opacity: 1;
}

.section .wrapper.box-wrapper .item.expand.active {
    background-color: var(--yellow);
}

.section .wrapper.box-wrapper .item.expand.active a {
    color: var(--white);
}

.logos.section .logos-wrapper .item {
    justify-content: center;
    align-items: center;
}

.logos.section .logos-wrapper .item img {
    max-width: 100px;
}

.reviews.section .reviews-wrapper {
    gap: 40px;
}

.reviews.section .reviews-wrapper .item {
    justify-content: center;
    padding: 30px;
    border-radius: 9px;
    box-shadow: var(--boxShadow);
}

.reviews.section .reviews-wrapper .item.large {
    flex: 2 0;
}

.reviews.section .reviews-wrapper .item .rating {
    color: var(--yellow);
}

.reviews.section .reviews-wrapper .item p {
    font-size: 12px;
}

@media (max-width: 560px) {
    .banner .row .col:nth-child(1),
    .section .wrapper.box-wrapper .item.blue-accent,
    .reviews.section .reviews-wrapper .item {
        flex: 1 0 100%
    }
}