.banner.section,
.banner.section .row {
    height: 80vh;
}

.section .form-wrapper {
    color: var(--black);
    flex-direction: column;
    background-color: var(--yellow);
    border-radius: 26px;
    margin-right: 0;
}

.section .form-wrapper span {
    font-weight: 700;
    margin-top: 20px;
}

.section .form-wrapper input {
    background-color: var(--white);
    border: none;
    border-radius: var(--borderRadiusBtn);
}

.section .form-wrapper .hs-button {
    font-weight: 700;
    color: var(--white);
    background-color: var(--primary);
    transition: var(--transition);
    margin-top: 20px;
}

.section .form-wrapper .hs-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}